/* Film_Manage */
.film_manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}
.film_manage ul {
  /* padding: 20px; */
  height: 40px;
  font-size: 24px;
}
.film_manage ul li {
  display: inline;
  padding: 10px 20px;
}
.film_manage ul li span {
  transition: font-size 300ms;
}
.film_manageActive {
  color: #fa5639;
  font-size: 24px;
  /* padding: 0px 20px; */
}

/* Film Slick */
.col-lg-3 {
  padding: 7px;
  margin-bottom: 10px;
}
.film-img {
  height: 450px;
  width: 95%;
  border-radius: 4%;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.film-img img {
  width: 100%;
  height: 100%;
  border-radius: 4%;
  // object-fit: contain;
  object-fit: cover;
}
.film-img:hover img {
  opacity: 0.65;
  // box-shadow:         inset 0 0 100px #000000;
  transition: 0.6s ease;
}
.film_info {
  margin: 8px 0px 20px 3px;

  display: flex;
  align-items: center;

  // justify-content: center;
}
.film_info p {
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80%;
}
.film_info p.film_title {
  font-weight: 600;

  padding-left: 0px;
  padding-bottom: 0px;
  // margin-top: 5px;
  // margin-bottom: 10px;
}
.film_info p.film_time {
  padding-top: 10px;
}
/* End Film Slick */

/* End Film_Manage */
.slick-prev,
.slick-next {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.slick-next::before,
.slick-prev::before {
  color: #111;
  font-size: 50px;
}
.slick-next {
  right: -50px;
}
.slick-prev {
  left: -70px;
}

.ageType {
  font-size: 14px;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.ageType2 {
  font-size: 14px;
  background-color: #00ac4d;
  border-radius: 4px;
  padding: 0 5px;
  color: #fff;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 779px) and (max-width: 991px) {
}

@media (min-width: 568px) and (max-width: 779px) {
}
@media (min-width: 320px) and (max-width: 568px) {
  .slick-prev {
    left: 0 !important;
  }
  .slick-next {
    right: 0 !important;
  }
  .film-img {
    height: 300px;
     width: 100%; 
    border-radius: 4%;
  }
}
