.calendar {
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 32, 41);
  /* color:; */
}

.calendar .container {
  height: 70vh;

  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  padding: 0;
}
.calendar .flex-column {
  /* border-top: 1px solid #ebebec; */
  /* border-bottom: 1px solid #ebebec; */
  border-right: 1px solid #ebebec;
  /* border-top-left-radius: 4px; */
  height: 100%;

  /* border-bottom-left-radius: 4px; */
}
.nav-link {
  /* background-color: rgba(246, 246, 246, 0.5); */
  /* background-color: #fff!important; */
  opacity: 0.5;
}
.nav-link.active {
  background-color: #fff !important;
  /* border: #000000 1px solid; */
  opacity: 1;
  /* box-shadow: 3px 3px 1px #ccc; */
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.calendar .col-8 {
  max-height: 684px;
}
.calendar .cinema {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 20px 15px;
}
.calendar .cinema .logo-cinema {
  width: 50px;
  height: 50px;
  margin: 0px 7px 0px 0px;
}
.calendar .cinema .logo-cinema img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendar .cinema .cinema-name {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.calendar .container .row .col-9 .dayOfWeek .selectedDay p {
  margin: 0;
}

.calendar .chooseCinema {
  width: 100%;
  max-height: none;
  height: 100%;
  overflow-y: auto;
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}
.calendar .chooseTime {
  width: 100%;
  padding: 20px 20px 10px;
  /* border-bottom: 1px solid #f0f0f1; */
  float: left;
}
.calendar .chooseTime .cinema-info {
  display: flex;
  padding: 0px 0px 20px;
}
.calendar .chooseTime .cinema-info .cinema-img {
  width: 50px;
  height: 50px;
}
.calendar .chooseTime .cinema-info .cinema-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.calendar .chooseCinema .chooseTime .cinema-info .info {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: #9b9b9b;
  font-size: 13px;
}
.calendar .chooseTime .cinema-info .info span:nth-child(1) {
  font-size: 20px;
  color: #fa5639;
  font-weight: 600;
}
.calendar .chooseCinema .chooseTime .timeSection {
  padding-left: 0;
  padding-top: 0;
  line-height: 1;
  vertical-align: top;
  width: 100%;
  float: left;
  margin-bottom: 5px;
}
.calendar .chooseTime .typeOfFilm {
  margin: 0px 0px 5px;
  font-weight: 600;
}
.calendar .chooseTime .timeSection .timeInDay {
  width: calc(25% - 10px);
  float: left;
  /* font-family: "SF Medium"; */
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 10px 0;
  padding: 8px;
  transition: all 0.2s;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(246, 246, 246, 0.5);
  border-radius: 7px;
  color: #9b9b9b;
  border: 1.5px solid #e4e4e4;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
  letter-spacing: -0.12px;
}
.calendar .chooseTime .timeSection .timeInDay .time-start {
  font-size: 18px;
  font-weight: 500;
  color: #108f3e;
  letter-spacing: -0.16px;
  padding-right: 5px;
  transition: 0.15s ease;
}
.calendar .chooseTime .timeSection .timeInDay:hover .time-start {
  color: #fa5639;
}
.calendar .chooseTime .timeSection .timeInDay p {
  margin: 0;
}
