.chair-book {
  background-color: #3e515d;
  border-radius: 8px;
  // padding:20px;
  margin: 10px;
  position: relative;
}
.chair-booked2 {
  background-color: #3e515d;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  // position: relative;
}
.note {
  display: inline-flex;
  margin-left: 20px;
  flex-direction: column;
}
.note_button {
  display: flex;
  justify-items: space-between;
  align-items: center;
}
.note:nth-child(2) {
  margin: 0 20px;
}
.statusChair {
  background-color: orange;
  padding: 18px;
  margin: 10px;
  border-radius: 8px;
  cursor: no-drop !important;
  //  width:50px;
  //  height: 50px;
}
.seat {
  content: "\e909";
}
.chairBooked {
  background-color: rgb(109, 238, 109);
  padding: 18px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

// // Chair number hover
// .chair-book:hover, .chairNum{
//   display: block;
//   color: pink;
// }
.numberDisplay {
  display: block !important;
  color: white;
  position: absolute;
  left: 16%;
  top: 10%;
}

.note p {
  color: gray;
  font-size: 20px;
}
